// The prefix to use on all css classes from ant.
@ant-prefix: ant;

// -------- Colors -----------
@primary-color: #FCCB1D;
@info-color: #108ee9;
@success-color: #00a854;
@error-color: #f04134;
@highlight-color: #f04134;
@warning-color: #ffbf00;
@normal-color: #d9d9d9;

// Background color for `<body>`
@body-background: #FFF;
@menu-background: #502B04;
@menu-color: #FFF;
@menu-selected-bg: #FCC91A;
// Base background color for most components
@component-background: #FFF;
@font-family-no-number: "PingFangSC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family: "Helvetica Neue For Number", @font-family-no-number;
@code-family: Consolas, Menlo, Courier, monospace;
@heading-color: fade(#000, 85%);
@text-color: fade(#000, 65%);
@text-color-secondary: fade(#000, 43%);
@heading-color-dark: fade(#FFF, 97%);
@text-color-dark: fade(#FFF, 91%);
@text-color-secondary-dark: fade(#FFF, 67%);
@font-size-base: 18px;
@font-size-lg: @font-size-base + 2px;
@line-height-base: 1.5;
@border-radius-base: 4px;
@border-radius-sm: 2px;

@panel-color-base: #f7f7f7;
@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@text-color: rgba(74, 74, 74, 1);
@shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
@shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
@transition-ease-in: all 0.1s ease-out;
@transition-ease-out: all 0.1s ease-out;
@ease-in: ease-in;


@border-color: #DDDDDD;
@border-color-1: #DDDDDD;
@border-color-2: #FCCE30;
@text-color: #323232;
@btn-bg: #6A3906;
// @btn-primary-bg: #202741;
@action-color: #009EFF;
@modal-header-bg: #f3f3f3;
@modal-header-title: @text-color;
@btn-primary-color: #6A3906;
@btn-primary-bg: #FCCB1D;

@app-title-color: #6A3906;
@app-me-color: #595959;
@checkbox-border-color: @border-color;
@checkbox-selected-border-color: #202741;
@main-bg: #f1f1f1;


@table-header-bg: #eee;
@black-color: #000;
@red-color: #ff4444;
@green-color: #69d07a;
@orange-color: @warning-color;
@blue-color: #006cff;
@home-font-color: #140B0A;
@font-color: #323232;
@title-font-colo: #6A3906;
@pop-hover-bg: #ECECEC;

